// Overides for navigation bar
// backgrounds are dark
.top-bar, .top-bar ul {
  background-color: $nav-background;
}

.top-bar {
  .menu-text {
    color: $nav-menu-text;
  }
  // Make anchors inline:
  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }

}
